{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": [1, "always"],
    "indent": [1, 2],
    "no-console": 0,
    "no-unused-vars": 1
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "Promise": true
  }
}
